################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
*/bin/*
*/obj/*
RestMock/mocks.json
.claude/settings.local.json
